/* 1.1 - Template Fonts - Start
================================================== */
@font-face {
	font-family: 'Axiforma Regular';
	src: url('../../fonts/Axiforma-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins Regular';
	src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Poppins Bold';
	src: url('../../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Axiforma Medium';
	src: url('../../fonts/Axiforma-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Axiforma SemiBold';
	src: url('../../fonts/Axiforma-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Axiforma Bold';
	src: url('../../fonts/Axiforma-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* 1.1 - Template Fonts - End
================================================== */